body
{
   font-family: 'Codystar', cursive;
   text-align: center;
   background-image: url('/images/diamond_upholstery.png');
}

h1
{
  font-family: 'Codystar', cursive;
  font-size: 2em;
  margin: 20px 20px;
}


.profile 
{
  border-radius: 6px;
  border: 1px dashed rgb(174,162,158);
  background-color: rgba(0,0,0,0.1);
  width: 40%;
  height: 150px;
  text-align: center;
  margin: 10px auto;
}


.profile .left {
  width: 20%;
  float: left;
}

.left img
{
  width:150px;
  height:150px;
  border-radius: 4px;
}
.profile .right {
  width: 80%;
  float: left;
  padding: 20px 60px;
  box-sizing: border-box;
}

.profile .right h3
{
 
  font-size: 1.8em;
/*  font-weight: bold;*/
  text-decoration: none;
  margin-bottom: 20px;
}

.profile .right h4
{
 font-size: 0.7em;
 margin-bottom: 5px;
}

a
{
  text-decoration: none;
}


.search
{
  margin:30px 20px;
}

.search #username
{
  width: 38%;
}

.close
{
  color: rgb(119,93,101);
  font-size: 1em;
}

button
{
 display: inline-block; /* display inline but have dimensions */
 width: 80px;
 background-color: #EAE8E8;
 border: 1px ;
 color: #5F6B6B; /*text colour*/
 text-decoration: none; /*no underlining*/
 padding: 10px 5px;
 text-align: center;
 border-radius: 4px; /*rounded corners*/
 margin-left: 5px;
 margin-right: 5px;
 font-family: 'Codystar', cursive;
 font-size: 0.5em;
 border:1px solid white;
}

